
/* Add your CSS below! */


html, body {
	color: #ffffff;
  text-align: center;
  background-color:  #ffdd66;
	font-size:18px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

h1 {
	font-family:  Helvetica, sans-serif;
	font-size:45px;
	color: #9E3B33;
}
 
a {
   color:  #9E3B33;
}

#cr-stage { 
	background-color:  #360404;
	color: white;
	width: 100%;
	height: 100%;
	cursor: hidden;
}

#info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 40;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 4px 12px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
}

#info > * {
	-webkit-flex: 1 0 0;
	flex: 1 0 0;
	font-size: 16px;
	line-height: 24px;
}

#moneyDiv {
	text-align: left;
}

#dayDiv {
	text-align: right;
}

#hotbar {
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	text-align: center;
	line-height: 0;
	white-space: nowrap;
}

.hotbar-item {
	position: relative;
	display: inline-block;
	width: 64px;
	height: 64px;
	border: 4px solid #222;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	line-height: 100%;
}

.hotbar-item:hover {
	background-color: rgba(64, 64, 64, 0.3);
}

.hotbar-item.active {
	border-color: white;
	background-color: rgba(255, 255, 255, 0.3);
}

.hotbar-item .key {
	position: absolute;
	left: 2px;
	bottom: 3px;
	text-shadow: 1px 1px 2px black;
	font-size: 20px;
}

.hotbar-item .cost {
	position: absolute;
	right: 3px;
	top: 1px;
	text-shadow: 1px 1px 2px black;
	font-size: 16px;
}

#hotbar-item-chicken {
	background-image: url(assets/images/chicken.png);
	background-size: 400%;
	background-position: 0px -128px;
}

#hotbar-item-fence {
	background-image: url(assets/images/tileset.png);
	background-position: -128px -182px;
}

#hotbar-item-feeder {
	background-image: url(assets/images/tileset.png);
	background-position: -320px -128px;
}

#chickenPopupContainer {
	position: absolute;
	left: 0;
	width: 100%;
	top: 50vh;
	text-align: center;
	z-index: 50;
}

#chickenPopup {
	display: inline-block;
	position: relative;
	top: -200px;
	padding: 8px;
	border-radius: 4px;
	font-size: 16px;
	background-color: rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 2px black;
}

dl, dt, dd {
	margin: 0;
	padding: 0;
}

dt {
	float: left;
	width: 80px;
	text-align: left !important;
}

dd {
	margin-left: 90px;
	text-align: right !important;
}

i.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.heart-full {
	background-image: url(assets/images/heart.png);
	background-position: -24px;
}

.heart-empty {
	background-image: url(assets/images/heart.png);
}

@-ms-viewport{
	zoom: 1.0;
}
